<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src 'self' 'unsafe-inline'; img-src * 'self' data: https:; script-src * 'unsafe-inline' 'unsafe-eval'">

		<title>Faucet</title>
		<!-- Path to Framework7 Library CSS-->
		<link rel="stylesheet" href="vendors/framework7/dist/css/framework7.material.min.css">
		<link rel="stylesheet" href="vendors/framework7/dist/css/framework7.material.colors.min.css">
		<!-- Path to your custom app styles-->
		<link rel="stylesheet" href="static/my-styles.css">
	</head>
	<body class="theme-orange" ng-app="anekaMasakanApps">
		<div class="statusbar-overlay"></div>
		<div class="panel-overlay"></div>
		<!-- Panel -->
		<div class="panel panel-left panel-cover">
			<div class="view navbar-fixed">
				<div class="pages">
					
				</div>
			</div>
		</div>
		<!-- Views-->
		<div class="views">
			<!-- Your main view, should have "view-main" class-->
			<div class="view view-main">
				<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
				<div class="pages navbar-through toolbar-through">
					<!-- Page, data-page contains page name-->
					<div data-page="index" class="page toolbar-fixed navbar-fixed">
						<div class="navbar">
							<div class="navbar-inner">
								<!-- We have home navbar without left link-->
								<div class="center sliding">Aneka Masakan</div>
								<div class="right">
									<!-- Right link contains only icon - additional "icon-only" class-->
									<a href="#" class="link icon-only refresh-data" style="display: none;"> <i class="icon f7-icons icon-refresh"></i></a>
									<a href="#" class="link icon-only"> <i class="icon f7-icons icon-bars"></i></a>
								</div>
							</div>
						</div>
						<div class="toolbar tabbar">
							<div class="toolbar-inner">
								<a href="#resepTab" class="active tab-link">Resep</a>
								<a href="#bacaNantiTab" class="tab-link">Baca Nanti</a>
							</div>
						</div>
						<div class="tabs-animated-wrap">
							<div class="tabs">
								<div id="resepTab" class="page-content tab active pull-to-refresh-content" data-ptr-distance="55">
									<div class="pull-to-refresh-layer">
										<div class="preloader"></div>
										<div class="pull-to-refresh-arrow"></div>
									</div>
									<div ng-controller="listOfResep" class="listOfResep">
										<div class="content-block-title">Terdapat {{ reseps.length }} Resep</div>
										<div class="card ks-facebook-card" ng-repeat="resep in reseps">
											<div ng-click="action.readNow($index)" class="card-header no-border">
												<div class="ks-facebook-avatar"><img src="images/goulash.jpg" width="34" height="34"/>
												</div>
												<div class="ks-facebook-name">{{ resep.name }}</div>
												<div class="ks-facebook-date">{{ resep.servings }}</div>
											</div>
											<div class="card-content" afkl-image-container>
												<div class="content-block content-padding-8">{{ getIntro($index) }}</div>
												<div afkl-lazy-image="{{ getImage(resep.image) }}"></div>
											</div>
											<div class="card-footer no-border">
												<a ng-click="action.addFavorite(resep, $index)" class="link"><i class="icon f7-icons" ng-class="[{iconNonFavorite: !resep.favorit}, {iconFavorite: resep.favorit}]"></i></a>
												<a ng-click="action.addReadLeter(resep, $index)" ng-disabled="resep.readLeter" class="link">Baca nanti</a></div>
										</div>
										<div class="content-block">
											<a ng-click="action.LoadMore()" class="button button-fill button-raised">Load More</a>
										</div>
									</div>
								</div>
								<div id="bacaNantiTab" class="page-content tab pull-to-refresh-content" data-ptr-distance="55">
									<div class="pull-to-refresh-layer">
										<div class="preloader"></div>
										<div class="pull-to-refresh-arrow"></div>
									</div>
									<div ng-controller="listOfLaterResep" class="listOfLaterResep">
										<div class="content-block-title">Terdapat {{ reseps.length }} resep masakan yang akan di baca.</div>
										<div class="card ks-facebook-card" ng-repeat="resep in reseps">
											<div class="card-header no-border">
												<div class="ks-facebook-avatar"><img src="images/goulash.jpg" width="34" height="34"/>
												</div>
												<div class="ks-facebook-name">{{ resep.name }}</div>
												<div class="ks-facebook-date">{{ resep.servings }}</div>
											</div>
											<div class="card-content">
												<img ng-src="{{ getImage(resep.image) }}" width="100%"/>
											</div>
											<div class="card-footer no-border">
												<a ng-click="action.addFavorite($index)" class="link">Favorit</a>
												<a ng-click="action.addReadLeter($index)" class="link">Hapus</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Path to Framework7 Library JS-->
		<script type="text/javascript" src="vendors/angular/angular.min.js"></script>
		<script type="text/javascript" src="vendors/framework7/dist/js/framework7.min.js"></script>
		<script type="text/javascript" src="vendors/nyanStorage/nyanStorage.js"></script>
		<script type="text/javascript" src="vendors/angular/lazy-image.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="cordova.js"></script>  
		<!-- Path to your app js-->
		
		<script type="text/javascript" src="static/app.js"></script>
	</body>
</html>